<%= link_to "deadline_sort",tasks_path(sort_expired:"true") %>
<%= link_to "priority_sort",tasks_path(sort_priority:"true") %>

<h1>タスク一覧</h1>
<p><%= notice %></p>

<%= form_with url: tasks_path, method: :get, local: true do |form| %>
  <%= form.label :name, "タイトル:" %>
  <%= form.text_field :name %>
  <%= form.label :condition, "状況:" %>
  <%= form.select :condition, options_for_select([[''],['未着手'],['着手中'],['完了']]) %>
  <%= form.submit value: "search", type:"submit" %>
<% end %>
<br>
<%= link_to "新規作成", new_task_path, class: 'btn btn-info'%>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th style="width :10%">タイトル</th>
      <th style="width :10%">内容</th>
      <th style="width :5%">締切</th>
      <th style="width :5%">優先順位</th>
      <th style="width :5%">状況</th>
      <th style="width :5%">作成者</th>
      <th style="width :5%">タグ</th>
      <th style="width :5%"></th>
      <th style="width :5%"></th>
      <th style="width :5%"></th> 
  </thead>
 </tr>
<% @task.each do |task| %>
 <tr>
    <td><%= task.name %></td></li>
    <td><%= task.content %></td>
    <td class = "task_deadline"><%= task.deadline %></td>
    <td><%= task.priority %></td>
    <td class = "task_condition"><%= task.condition%> </td>
    <td><%= task.user.namae%></td>
    <td>
      <i class="fas fa-tag"><%= task.tags.map(&:label).join(', ') %></i>
    </td>
    <div>
    <td class = check_buttons><%= link_to "確認", task_path(task.id), class: 'btn btn-primary'%></td> 
    <td class = check_buttons><%= link_to "編集", edit_task_path(task.id), class: 'btn btn-warning'%></td>
    <td class = check_buttons><%= button_to "削除", task_path(task.id),method: :delete ,data: { confirm: '本当に削除していいですか？' }, class: 'btn btn-danger' %></td>
    </div>
 </tr>
<% end %>
</table>

<%= paginate @tasks %>

<%# <%= link_to '新しくユーザーを登録する', new_user_path %> 
<%# <a class="btn btn-primary" href=http://localhost:3000/tasks/new role="button">新規登録</a> %>



