<h1>ユーザーの管理画面だよ!</h1>

<table>
  <tbody>
    <tr>
      <th>ユーザーID</th>
      <th>名前</th>
      <th>メール</th>
      <th>タスク数</th>
      <th>ユーザー権限</th>
    </tr>
    <% @users.each do |user|%>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.namae %></td>
        <td><%= user.email %></td>
        <td><%= user.tasks.count %></td>
        <% if user.admin? %>
          <td>管理者</td>
        <% else %>
          <td>一般</td>
        <% end %>
        <td><%= link_to "確認", admin_user_path(user) %></td> 
        <td><%= link_to "編集", edit_admin_user_path(user) %></td>
        <td><%= link_to '削除', admin_user_path(user), method: :delete, data: { confirm: '本当に良きですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "ユーザーの作成", new_admin_user_path %>
<br>
<%= link_to "タスク一覧", tasks_path %>