<h1>ユーザーの管理画面だよ!</h1>

<table>
  <tbody>
    <tr>
      <th>ユーザーID</th>
      <th>名前</th>
      <th>メール</th>
    </tr>
    <% @users.each do |user|%>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.namae %></td>
        <td><%= user.email %></td>
        <td><%= link_to "確認", user_path(user.id) %></td> 
        <td><%= link_to "編集", edit_user_path(user.id) %></td>
        <td><%= link_to '削除', user, method: :delete, data: { confirm: '本当に良きですか?' } %></td>
    <% end %>
  </tbody>
</table>
